@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
}

#top-banner {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 50px;
    align-items: center;
    padding: 0 30px;
}

.header {

    font-size: 1.2 em;
    color: aquamarine;
}

#game-name {
    font-size: 2em;
}

#breakout {
    padding: 0;
    margin: 0 30px;
    border: 1px solid green;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
    position: fixed;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#score-lives {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 30px;
}

#main-game {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.big-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.letter {
    height: 40px;
    font-size: 3em;
}

.letter.active {
    color: green;
}


.active {
    visibility: visible !important;
}

.game-over {
    visibility: hidden;
    font-size: 1.2em;
    color: red;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.life-lost {
    visibility: hidden;
    font-size: 1.2em;
    color: red;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.level-up {
    visibility: hidden;
    font-size: 1.2em;
    color: red;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}